body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
}

.viewport {
  display: flex;
  flex-direction: row;
}

.notesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: #161618;
  color: white;

  height: 100vh;
  width: 33.33vw;
  margin-top: 0;
}

.thumbnailElement {
  background-color: #818181;

  width: 80%;
  padding: 0.2rem;

  list-style: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;

  background-color: #212124;

  height: 100vh;
  width: 66.67vw;
}

#contentElement,
.titleElement {
  font-family: 'SF Pro Display', sans-serif;
  background-color: transparent;
  border-style: none;

  color: white;
}

.clicked {
  background-color: yellow;
}

.icons {
  height: 1.5rem;
  width: 1.5rem;
}
